<div class="col-10 offset -1 about">
  <h1> About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Jared364">Jared Anderson</a>. A learning web developer enrolled in a six month bootcamp style development class. This is one of a handful of sites / web apps developed during the class.
  </p>
  <br />
  <p>
    This site / web app simply displays random quotes stored in a database that is built on user submitted quotes.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br clear="clear" />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jared Anderson</h2>
      <br />
      <p>
        Jared Anderson is a web developer who attended an accelerated bootcamp style web-development program through the Univerisity of Arizona. While attending he built multiple sites / web apps cloning and personalizing popular services all of which can be found on his portfolio site <a target="_blank" href="https://jaredanderson.netlify.com">here</a>.
      </p>
    </div>
  </div>

  <br class="clear" />
</div>


<br clear="clear" />
<br />
<br />
<br />
<br />